<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apsmarket.robiinternetoffer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.RobiInternetOffer">
        <activity android:name=".Robi"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Code"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Minute_offer"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Internet_offer"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Socal_Pack"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Regular_Internet" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Minute_Recharge"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Internet_Recharge"
            android:exported="true">
        </activity>
        <activity android:name=".Robi_Recharge"
            android:exported="true">
        </activity>
        <activity android:name=".Flexiload"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2518334745896640~8446146864"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="702075441322265"/>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="IEtrJPEnAqHTuB3lNEKCsCBXC83bWIo8vfRzpI5id4UgDAfvvGXANVMtmexc_ueL7NZJzXd2xz02StMisFWTzz" />
    </application>

</manifest>